{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description " content="A beautiful animated blog website">
    <title>{% block title %}Blogepedia{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="logo">
        <h1><a href="{% url 'home' %}">{{ blog_title }}</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>   
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li><a href="{% url 'new_post' %}">Create Post</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<!-- Main content -->
<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; {{ year }} {{ blog_title }} | All Rights Reserved</p>
</footer>

</body>
</html>
